tiny-stories-bpe-merges.txt
tiny-stories-bpe-vocab.json
tinystories-train.txt
tiny-stories-train.pt
TinyStories-valid.txt
TinyStoriesV2-GPT4-valid.txt
tiny-stories-model.pt
wandb/*
residuals/*
data/*
*.sae_model_weights.pth
*.pt
*.pth
*.json
*.tar
sae_model_weights.pth
tiny-stories-storymask.ipynb
__pycache__
logs*
models*
residuals*
.anthropic.key
